<div class="panel panel-default">
  <div class="panel-heading">Users online:</div>
  <div class="panel-body" style="height:356px;">
    <!-- ko foreach: users -->    
      <div class="btn-group">
        <button type="button" data-bind="text: name" class="btn btn-default dropdown-toggle" data-toggle="dropdown"></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#" data-bind="click: $root.sendMessage.bind($data, name)">Send private message</a></li>          
        </ul>
      </div>
    <!-- /ko -->
  </div>
</div>
