<div class="panel panel-default">
  <div class="panel-heading">Users online:</div>
  <div class="panel-body" style="height:356px;">
    <ul data-bind="foreach: users">
      <li data-bind="text: name">
    </ul>
  </div>
</div>
